.btn {
    font-weight: 600;
    &.btn-start {
        color: #FCFCFF;
        font-size: 31px;   
        border-radius: 25px;
        background-color: #38A3CB;
        box-shadow: 0px 3px 3px #00000029;
        border: none;  
    }
    &.btn-cmn-width{
        max-width: 346px;
        width: 100%;
    }
    &.btn-info{
        color: #FCFCFF;
    }
    &.btn-lg{
        border-radius: 25px;
    }
    &.btn-box-shadow{
        box-shadow: 0px 3px 3px #00000029;
    }
}
