// Body
// $enable-rounded: true;
// $info:red;
// $blue: #dc2d1a;

$primary: #27348B;
// $info: #dcad1a;

$info : #38A3CB;

$border-radius: 5px;

$textClr: #27348B;

$body-bg : #fff;

//fonts
$font-family-base: 'Nudista';
$headings-font-weight: 400;
$headings-color: $primary;

$headings-font-family: "Malaga OTCE";

//gutter
$grid-gutter-width: 16px;

//link
$link-decoration: none;
$navbar-light-color: $primary;
$navbar-light-active-color: $textClr;

//nav-bar
$nav-link-font-weight:  600;
// $nav-link-padding-x: 2rem !default;
$navbar-nav-link-padding-x: 1rem;

$navbar-padding-y: 0.5rem;

//button
//
// $input-btn-padding-y:7px;
// $input-btn-padding-x:25px;

$input-btn-focus-box-shadow: 0 0 transparent;
//btn
$input-btn-padding-y: 0.875rem;
$input-btn-font-size: 1.25rem;

//btn lg
$input-btn-padding-y-lg:      1.125rem !default;
// $input-btn-padding-x-lg:      1rem !default;
$input-btn-font-size-lg:      1.875rem !default;

//custom text variable

$title-font: $headings-font-family;

$text-font: $font-family-base;


//border color

$border-color: 1px solid #707070;