// Body
// $enable-rounded: true;
// $info:red;
// $blue: #dc2d1a;

$primary: #27348B;
// $info: #dcad1a;

$info : #38A3CB;

$border-radius: 5px;

$textClr: #27348B;

$body-bg : #fff;

//fonts
$font-family-base: 'Nudista';
$headings-font-weight: 400;
$headings-color: $primary;

$headings-font-family: "Malaga OTCE";

//gutter
$grid-gutter-width: 16px;

//link
$link-decoration: none;
$navbar-light-color: $primary;
$navbar-light-active-color: $textClr;

//nav-bar


//button
//
// $input-btn-padding-y:7px;
// $input-btn-padding-x:25px;
$input-btn-focus-box-shadow: 0 0 transparent;