#ad-page-about {
/*About us section start*/  
  .adhd_about{
     padding-top: 4.5rem; 
     border-top: 2px solid $primary;
    .adhd-about-title{
      max-width: 1120px;
      color: $primary;  
      font-weight: 600;
      text-align: center;
      margin: 0 auto;
    .adhd-about-subtitle{
      padding: 2rem 0;
      font-family: $text-font;
      font-weight: 700;  
    }
    .adhd-about-info{
      color: $primary;
      font-size: 1.25rem;
      text-align: left;
      font-weight: 600;
      line-height: 30px;
    }
    ul{
       margin: 20px 0;
       li{
         list-style: none;
         text-align: left;
         font-size: 1.25rem;
         font-weight: 600;
       }
     }  
    }
  }
/*About us section end*/

/*Location section start*/
  .adhd_location{
    padding-top: 5rem;
    background-image: url("../images/green-bg.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  .adhd-box-img{
    border-radius: 44px;
    border: $border-color;
    width: 418px;
    height: 418px;  
  }
  .adhd-loc-text{
    max-width: 307px;
    margin: 0 auto;
  }
  .adhd-loc-box{
    border: $border-color;
    width: 418px;
    height: 418px;  
  }  
  }  
}