@font-face {
    font-family: 'Malaga OTCE';
    src: url('../fonts/malaga/MalagaOTCE-RegItalic.woff2') format('woff2'),
        url('../fonts/malaga/MalagaOTCE-RegItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Malaga OTCE';
    src: url('../fonts/malaga/MalagaOTCE-Reg.woff2') format('woff2'),
        url('../fonts/malaga/MalagaOTCE-Reg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Malaga OTCE';
    src: url('../fonts/malaga/MalagaOTCE-MedItalic.woff2') format('woff2'),
        url('../fonts/malaga/MalagaOTCE-MedItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Malaga OTCE';
    src: url('../fonts/malaga/MalagaOTCE-Med.woff2') format('woff2'),
        url('../fonts/malaga/MalagaOTCE-Med.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Malaga OTCE';
    src: url('../fonts/malaga/MalagaOTCE-BoldItalic.woff2') format('woff2'),
        url('../fonts/malaga/MalagaOTCE-BoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Malaga OTCE';
    src: url('../fonts/malaga/MalagaOTCE-Bold.woff2') format('woff2'),
        url('../fonts/malaga/MalagaOTCE-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Malaga OTCE';
    src: url('../fonts/malaga/MalagaOTCE-Black.woff2') format('woff2'),
        url('../fonts/malaga/MalagaOTCE-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Malaga OTCE';
    src: url('../fonts/malaga/MalagaOTCE-BlackItalic.woff2') format('woff2'),
        url('../fonts/malaga/MalagaOTCE-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}



/*Nudista font-family start*/

@font-face {
    font-family: 'Nudista';
    src: url('../fonts/nudista/NudistaThin.woff2') format('woff2'),
        url('../fonts/nudista/NudistaThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nudista';
    src: url('../fonts/nudista/NudistaThin-Italic.woff2') format('woff2'),
        url('../fonts/nudista/NudistaThin-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Nudista';
    src: url('../fonts/nudista/NudistaLight.woff2') format('woff2'),
        url('../fonts/nudista/NudistaLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Nudista';
    src: url('../fonts/nudista/NudistaLight-Italic.woff2') format('woff2'),
        url('../fonts/nudista/NudistaLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nudista';
    src: url('../fonts/nudista/Nudista-Italic.woff2') format('woff2'),
        url('../fonts/nudista/Nudista-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Nudista';
    src: url('../fonts/nudista/Nudista.woff2') format('woff2'),
        url('../fonts/nudista/Nudista.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Nudista';
    src: url('../fonts/nudista/NudistaSemiBold-Italic.woff2') format('woff2'),
        url('../fonts/nudista/NudistaSemiBold-Italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nudista';
    src: url('../fonts/nudista/NudistaSemiBold.woff2') format('woff2'),
        url('../fonts/nudista/NudistaSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Nudista';
    src: url('../fonts/nudista/Nudista-BoldItalic.woff2') format('woff2'),
        url('../fonts/nudista/Nudista-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Nudista';
    src: url('../fonts/nudista/Nudista-Bold.woff2') format('woff2'),
        url('../fonts/nudista/Nudista-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

