#ad-page-index {
  /*banner section start here*/

  .banner_box {
    background-color: #686d8e;
    border: $border-color;
    //height: 558px;
    padding: 150px 0 85px 0;
    .banner-content {
      .banner-text {
        text-align: center;
        max-width: 774px;
        color: #ffffff;
        line-height: 54px;
        font-weight: 600;
        margin: 0 auto;
      }
      .banner-btn {
        padding-top: 85px;
        text-align: center;
      }
    }
  } 

      .work_box{
        background-color: #27348b0d;
      .work-info-row {
        padding: 30px 0;
        .work-info-col {
          .cmn-work-info {
            position: relative;
            color: $primary;
            max-width: 355px;
            text-align: center;
            line-height: 24px;
            font-weight: 600;
            h5{
              font-weight: 500;
            }
            &::after {
              position: absolute;
              content: "";
              top: 0;
              left: 390px;
              width: 0;
              height: 62px;
              border: 3px solid #27348b80;
              opacity: 0.5;
            }
          }
          &:last-child {
            .cmn-work-info {
              &::after {
                display: none;
              }
            }
          }
        }
      }
    } 
  /*banner section end */

  /*video section start*/

  .video_section {
    background-color: $body-bg;
    padding: 85px 0;
    border-bottom: 2px solid $primary;
    .video-title {
      text-align: center;
      max-width: 604px;
      margin: 0 auto;
      .video-detail {
        padding: 24px 0;
        color: $primary;
        font-size: 1.18rem;
        font-weight: 300;
        line-height: 23px;
      }
    }
    .video-box {
      max-width: 1000px;
      background-color: $body-bg;
      border: $border-color;
      margin: 0 auto;
    }
  }
  /*video section end*/

  /*work section start*/
  .adhd_work_box {
    padding-top: 85px;
    .work-title {
      text-align: center;
      font-weight: 600;
    }

    .work-detail-col {
      &:last-child {
        .cmn-img-icon {
          figure {
            &::after {
              display: none;
            }
          }
        }
      }
      .cmn-img-icon {
        text-align: center;
        max-width: 270px;
        margin: 90px auto 0 auto;
        position: relative;
        figure {
          margin: 0;
          height: 150px;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            right: -12px;
            top: 50%;
            margin-top: -12px;
            width: 24px;
            height: 24px;
            background: url("../images/arrow-right.svg") no-repeat;
            background-size: cover;
          }
          img {
            width: auto;
            height: 150px;
          }
        }
        .cmn-box-title {
          padding-top: 30px;
          line-height: 30px;
          font-weight: 500;
        }
        .cmn-box-text {
          color: #000000;
          text-align: center;
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }
    .work-btn {
      padding: 85px 0;
      text-align: center;
    }
  }
  /*Work section end*/

  /*Work choose section start*/
  .adhd_work_choose {
    padding-top: 200px;
    .work-choose-bg {
      background-image: url(../images/green-bg.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      .work-choose-mobile{
        max-width: 549px;
        margin: 0 auto;
         img{
           object-fit: cover;
         }
      }
      .work-choose-info{
       padding-top: 75px; 
      .work-choose-title{
        font-weight: 600;
        }
      ul{
        li{
          list-style: none;
          padding: 10px 0;
          .cmn-work-choose-text{
            font-size: 1.25rem;
            font-weight: 400;
            padding: 0 10px;
          }
         }
       } 
     }
    }
  }
/*Work choose section end*/

/*Adhd expert box start*/
.adhd_expert_box{
    background-image: url("../images/purple-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .adhd-expert-wrapper{
      padding-top: 200px;
      max-width: 646px;
      margin: 0 auto;
    .adhd-expert-title{
      font-weight: 600;
     }
    .adhd-expert-info{
      padding-top: 40px;
      color: $primary;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 35px;
    }  
    }
    .adhd-expert-image{
      padding-top: 44px;
      img{
        object-fit: cover;
      }
    }
    .adhd-expert-square{
      max-width: 415px;
      width: 100%;
      height: 467px;
      border-radius: 38px;
      border: $border-color;
      //margin: 0 auto;
    }
    .adhd-expert-square-wrapper{
      padding-top: 100px;
    .adhd-square-title{
      color: $primary;
      line-height: 50px;
      font-weight: 600;
    }
    .adhd-square-name{
      font-family: $text-font;
      padding-top: 50px;
      font-weight: 700;
    }
    .adhd-sqaure-qual{
      font-family: $text-font;
      font-weight: 700;
    }  
    .adhd-square-exp{
      font-family: $text-font;
      font-weight: 600;
    }
    }
    .adhd-expert-square-text{
      font-size: 1.25rem;
    }
    .adhd-expert-btn{
      padding-top: 100px;
      text-align: center;
    }
 }
/*Adhd expert box end*/
  .adhd_blog{
    padding-top: 80px;
    border-top: 2px solid $primary;
    margin-top: 120px;
    .cmn-adhd-blog-box{
      max-width: 343px;
      border-radius: 20px;
      border: $border-color;
      .cmn-adhd-box-text{
        text-align: center;
        padding: 70px 0;
      }
    }
    .cmn-adhd-blog-info{
      padding: 20px 0 200px 0;
      .cmn-blog-name{
        color: #27348B7B;
        font-weight: 600;
        font-family: $text-font;
      }
      .cmn-blog-title{
        font-family: $text-font;
        font-weight: 700;  
       }
       .cmn-blog-text{
         font-family: $text-font;
         font-weight: 300;
       }  
      .cmn-blog-read{
        font-family: $text-font;
        font-size: 1.25rem;
        font-weight: 600;
        color: $primary;
        text-decoration: underline;
      }
    } 
  }
}