<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="images/favicon.ico" />

  <title>ADHDme About Us</title>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <link rel="stylesheet" href="css/common.css" />
</head>

<body>
  <% include /src/include/header.ejs %>

    <main id="ad-page-about">
      <section class="adhd_about">
        <div class="container">
          <div class="adhd-about-title">
            <h2 class="display-5">About us</h2>
            <h4 class="adhd-about-subtitle">
              Here at ADHDme our primary aim is to create a convenient and quick
              diagnosis for adults who think they may have ADHD.
            </h4>
            <p class="adhd-about-info">
              We have teamed up with psychiatrists in the UK who specialise in
              ADHD diagnosis and treatment. There are a range of doctors
              available on our platform, to cater to your convenience, as we are
              available 7 days a week (including evenings).
            </p>
            <p class="adhd-about-info">
              In todays fast paced world, we understand that many of us do not
              have the time to think about our mental health which may have a
              negative impact in the long term. To make ADHD diagnosis more
              accessible, we operate completely online. You can see some of the
              benefits of our online portal:
            </p>

            <ul>
              <li>All consultations with psychiatrists would be held online, so you don’t have to travel anywhere to
                talk to us</li>
              <li>You will have access to any results/reports through our online portal</li>
              <li>Our website can be accessed on any devices, such as PC/Laptop, mobile and tablets.</li>
              <li>A one stop platform for ADHD for Adults</li>
            </ul>

          </div>
        </div>
      </section>

      <section class="adhd_location">
        <div class="container">
          <h2 class="display-5 text-center">Office Location</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="adhd-box-img"></div>
            </div>
            <div class="col-md-4">
              <div class="adhd-loc-text">
                <h2 class="display-5 text-center">1-7 Harley Street London W1G 9QD</h2>
              </div>
            </div>
            <div class="col-md-4">
              <div class="adhd-loc-box"></div>
            </div>
          </div>
        </div>
        </div>
      </section>

    </main>

    <% include /src/include/footer.ejs %>

      <script src="js/home.js"></script>
</body>

</html>