<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="images/favicon.ico" />

  <title>ADHDme</title>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <link rel="stylesheet" href="css/common.css" />
  
</head>

<body>
  <% include /src/include/header.ejs %>

    <main id="ad-page-index">
      <section class="banner_box">
            <div class="container">
              <div class="banner-content">
                  <h2 class="display-6 banner-text">
                    ADHDme is an online platform that connects top psychiatrist,
                    with adult patients with ADHD
                  </h2>
                  <div class="banner-btn">
                    <a href="#" class="btn btn-lg btn-info btn-box-shadow btn-cmn-width">Get started</a>
                  </div>
              </div>
            </div>
      </section>

      <section class="work_box">  
        <div class="container">
          <div class="row work-info-row">
            <div class="col-md-4 work-info-col">
              <div class="cmn-work-info">
                <h5>
                  Working together with UK psychiatrists that specialise
                  in ADHD
                </h5>
              </div>
            </div>

            <div class="col-md-4 work-info-col">
              <div class="cmn-work-info">
                <h5>
                  All assessments and consultations would be done online
                </h5>
              </div>
            </div>

            <div class="col-md-4 work-info-col">
              <div class="cmn-work-info">
                <h5>
                  Avoid long waiting lists to have your ADHD assessment
                </h5>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="video_section">
        <div class="container">
            <div class="video-title">
              <h2 class="display-6">
                Getting started with your ADHD Assessment
              </h2>
              <p class="video-detail">
                The best thing about ADHDme is that it is simple to use with
                everything being available on our platform. Check out the video
                below to find out more.
              </p>
            </div>
            <div class="video-box">
              <div class="ratio ratio-16x9">
                <video width="320" height="240" controls>
                  <source src="video/natu.mp4" type="video/mp4" />
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
        </div>
      </section>

      <section class="adhd_work_box">
         <div class="container">
          <h2 class="display-6 work-title">How ADHDme works</h2>
          <div class="row">

            <div class="col-md-3 work-detail-col">
              <div class="cmn-img-icon">
                <figure>
                  <img src="images/icon-1.svg" alt="work-icon1" />
                </figure>
                <h5 class="cmn-box-title">Take the ADHD Indicator test</h5>
                <p class="cmn-box-text">
                  Take one or all three ADHD Indicator tests to see whether
                  there is chance that you may have ADHD.
                </p>
              </div>
            </div>

            <div class="col-md-3 work-detail-col">
              <div class="cmn-img-icon">
                <figure>
                  <img src="images/icon-2.svg" alt="work-icon2" />
                </figure>
                <h5 class="cmn-box-title">Get the results</h5>
                <p class="cmn-box-text">
                  You will receive a score on the test(s) that were taken. You
                  can also purchase an extensive report.
                </p>
              </div>
            </div>

            <div class="col-md-3 work-detail-col">
              <div class="cmn-img-icon">
                <figure>
                  <img src="images/icon-3.svg" alt="work-icon3" />
                </figure>
                <h5 class="cmn-box-title">Schedule a consultation</h5>
                <p class="cmn-box-text">
                  Book a 10 minute consultation with us. You will get an
                  overview of the process and answer any questions.
                </p>
              </div>
            </div>

            <div class="col-md-3 work-detail-col">
              <div class="cmn-img-icon">
                <figure>
                  <img src="images/icon-4.svg" alt="work-icon4" />
                </figure>
                <h5 class="cmn-box-title">Book a psychiatrist</h5>
                <p class="cmn-box-text">
                  Select from a list of psychiatrist to go ahead with the full
                  ADHD assessment
                </p>
              </div>
            </div>
          </div>

            <div class="work-btn">
              <a href="#" class="btn btn-lg btn-info btn-box-shadow btn-cmn-width">Get started</a>
            </div>

        </div>
      </section>

      <section class="adhd_work_choose">
  
          <div class="work-choose-bg">
            <div class="row">
              <div class="col-md-6">
                <div class="work-choose-mobile">
                  <img src="images/hand-app.png" alt="mobile" class="img-fluid" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="work-choose-info">
                  <h2 class="display-6 work-choose-title">
                    Why should you choose ADHDme?
                  </h2>

                  <ul>
                    <li>
                      <a href="#"><img src="images/web.svg" alt="web" /></a>
                      <span class="text-primary cmn-work-choose-text">Completely online for your convenience</span>
                    </li>

                    <li>
                      <a href="#"><img src="images/mobile.svg" alt="mobile" /></a>
                      <span class="text-primary cmn-work-choose-text">Compatible on mobile device to take tests on the
                        go</span>
                    </li>

                    <li>
                      <a href="#"><img src="images/meter.svg" alt="meter" /></a>
                      <span class="text-primary cmn-work-choose-text">Scoring system on all self assessments</span>
                    </li>

                    <li>
                      <a href="#"><img src="images/copy.svg" alt="copy" /></a>
                      <span class="text-primary cmn-work-choose-text">View and download doctor’s reports from online
                        portal</span>
                    </li>

                    <li>
                      <a href="#"><img src="images/heart.svg" alt="heart" /></a>
                      <span class="text-primary cmn-work-choose-text">View and download doctor’s reports from online
                        portal</span>
                    </li>

                    <li>
                      <a href="#"><img src="images/comfert.svg" alt="comfort" /></a>
                      <span class="text-primary cmn-work-choose-text">Conduct all consultations in the comfort of your
                        home</span>
                    </li>

                    <li>
                      <a href="#"><img src="images/lock.svg" alt="lock" /></a>
                      <span class="text-primary cmn-work-choose-text">All information would be dealt with the utmost
                        privacy</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
    
      </section>

      <section class="adhd_expert_box">

              <div class="container">
              
                <div class="row"> 
                  <div class="col-md-8">
                    <div class="adhd-expert-wrapper">
                      <h2 class="display-6 adhd-expert-title">
                        Working together with experts
                      </h2>
                      <p class="adhd-expert-info">
                        We work with psychiatrists who specialise in ADHD
                        diagnosis in the UK. When booking an appointment, you
                        will have a selection of doctors available to you,
                        depending on when you are free.
                      </p>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="adhd-expert-image">
                      <img src="images/doctor.png" alt="doctor" />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-5 offset-md-1">
                    <div class="adhd-expert-square"></div>
                  </div>
                  <div class="col-md-6">
                    <div class="adhd-expert-square-wrapper">
                      <h2 class="display-6 adhd-square-title">
                        Meet some of our licensed psychiatrist that we work with
                      </h2>
                      <h2 class="display-6 adhd-square-name">Doctor’s Name</h2>
                      <h3 class="adhd-sqaure-qual">Qualification</h3>
                      <h3 class="adhd-square-exp">Years of experience</h3>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-11 offset-md-1">
                    <div class="adhd-expert-square-text mt-5">
                      <span class="text-primary">Are you a licensed psychiatrist?</span>
                      <span><a href="#" class="text-info">Join our Team</a></span>
                    </div>
                  </div>
                </div>

                  <div class="adhd-expert-btn">
                    <a href="#" class="btn btn-lg btn-info btn-box-shadow btn-cmn-width">Get started</a>
                  </div>

                </div>

      </section>

      <section class="adhd_blog">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="cmn-adhd-blog-box">
                <h3 class="cmn-adhd-box-text">GRAPHIC</h3>
              </div>
              <div class="cmn-adhd-blog-info">
                <h6 class="cmn-blog-name">Website/Company - Date</h6>
                <h4 class="cmn-blog-title">Blog title</h4>
                <h5 class="cmn-blog-text">The beginning part of the first blog...</h5>
                <span class="cmn-blog-read">Read more</span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="cmn-adhd-blog-box">
                <h3 class="cmn-adhd-box-text">GRAPHIC</h3>
              </div>
              <div class="cmn-adhd-blog-info">
                <h6 class="cmn-blog-name">Website/Company - Date</h6>
                <h4 class="cmn-blog-title">Blog title</h4>
                <h5 class="cmn-blog-text">The beginning part of the first blog...</h5>
                <span class="cmn-blog-read">Read more</span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="cmn-adhd-blog-box">
                <h3 class="cmn-adhd-box-text">GRAPHIC</h3>
              </div>
              <div class="cmn-adhd-blog-info">
                <h6 class="cmn-blog-name">Website/Company - Date</h6>
                <h4 class="cmn-blog-title">Blog title</h4>
                <h5 class="cmn-blog-text">The beginning part of the first blog...</h5>
                <span class="cmn-blog-read">Read more</span>
              </div>
            </div>

          </div>
        </div>
      </section>
    </main>

    <% include /src/include/footer.ejs %>

      <script src="js/home.js"></script>
</body>

</html>