<footer class="ad-footer">
  <section class="footer_info">
      <div class="container">
        <div class="footer-wrappper">
          <div class="row">
            <div class="col-md-4">
                <h2 class="display-2 logo-text">ADHDme</h2>
                <ul class="social-icon">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                </ul>
              </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <div class="quick">
                            <h5>NAVIGATE</h5>
                            <ul class="p-0">
                              <li><a href="#">About us </a></li>
                              <li><a href="#">How it works </a></li>
                              <li><a href="#">Pricing </a></li>
                              <li><a href="#">FAQ </a></li>
                              <li><a href="#">Online Portal </a></li>
                              <li><a href="#">ADHD Indicator</a></li>
                            </ul>
                          </div>
                    </div>

                    <div class="col-md-4">
                        <div class="quick">
                            <h5>USEFUL LINKS</h5>
                            <ul class="p-0">
                              <li><a href="#">Payment</a></li>
                              <li><a href="#">join our Team</a></li>
                              <li><a href="#">Terms and Conditions</a></li>
                              <li><a href="#">Privacy Policy</a></li>
                              <li><a href="#">Cookies Policy</a></li>
                            </ul>
                          </div>
                    </div>

                    <div class="col-md-4">
                        <div class="quick">
                            <h5>CONTACT</h5>
                            <ul class="p-0">
                              <li><a href="#">hello@adhdme.care</a></li>
                              <li><a href="#">0333 339 6845</a></li>
                              <li><a href="#">1-7 Harley Street London W1G 9QD</a></li>
                              <li><a href="#">Contact us</a></li>
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    
  </section>
</footer>
